<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Find a booking you want to remove
        <p>{{ mess }}</p>
    </div>
    <form action="/findremove" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="username" required>
        </div>

        <button type="reset">Reset</button>
        <button type="submit">Find</button>

    </form>
    <a href="/">Back to home page</a>
</body>
</html>