<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>Who are you searching for?</h3>
        <p>{{ mess }}</p>
    </div>
    <form action="/find" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="username" required>
        </div>

        <button type="reset">Reset</button>
        <button type="submit">Search</button>

    </form>
    <a href="/">Back to home page</a>
</body>

</html>