<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Bookings</h1>
    <ul>
        {% for dict_item in guests %}
            <li>
                {% for value, key in dict_item.items() %}
                    {{key}} {{value}}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
    <a href="/">Back to home page</a>
</body>
</html>