<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration Successful</h1>
    <hr>
    <p>Name: {{ name }}, registered for {{ adults }} adults</p>
    <a href="/">Back to home page</a>
</body>
</html>