<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/remove" method="POST">
        <div>
            <input type="hidden" name="name" value={{ name }}>
        </div>
        <div>
            <p>Confirm Remove Booking for {{ name }}</p>
        </div>
        <button type="submit">Remove Booking</button>
    </form>
    <input type="hidden" name="name" value={{ name }}>
    
    <a href="/findremove">return to previous page</a>
</body>

</html>